.vscode
**/__pycache__
HWK-System.code-workspace
menu_items.json
makefile
hwk_system.egg-info
HWK-System.code-workspace
testfile
Printer/testfile
CashDrawer/module/build/temp.linux-x86_64-3.7/drawermodule.o
*.o
**/build
GoogleDrive/GoogleDrive.code-workspace
GoogleDrive/credentials.json
GoogleDrive/token.pickle
makefile
